* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  border-radius: 0.5rem;
  border: 2px solid #ccc666;
  max-width: fit-content;
  padding: 0.5rem;
}

body {
  margin: 0 auto;
  max-width: 48rem;
}
